@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 12px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: var(--color-body);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}




/* ====================== toggle theme =================== */
:root{
    --color-body: hsl(0, 50%, 96%);
    --color-text: hsl(0, 0%, 0%);
    --shadow: hsla(0, 0%, 2%, 0.354); 
    --background-box: rgba(228, 226, 226, 0.867);
    --sidebar-background: rgb(222, 222, 222);
    transition: all 0.4s ease-in-out;

    
}

.dark-mode{
    --color-body: hsl(0, 0%, 0%);
    --color-text: hsl(0, 50%, 96%);
    --shadow: hsla(0, 39%, 93%, 0.553);
    --background-box: rgba(75, 72, 72, 0.867);
    --sidebar-background: rgba(0, 0, 0);
    transition: all 0.4s ease-in-out;
}

.toggle-theme{
    position: fixed;
    width: 12rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    background: var(--color-text);
    color: var(--color-body);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    top: 1rem;
    right: 2px;
    z-index: 999;
}
.toggle-theme:hover{
    color: var(--color-text);
    background: var(--color-body);
}





/* ======================== utility classes ==================== */

.container{
    /* display: flex; */
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    /* padding-top: 5rem; */
    
}




/* =========================== side bar styling ================== */

.sidebar{
    /* border: 3px solid black; */
    width: 20%;
    overflow: scroll;
    height: 100vh;
    text-align: center;
    position: fixed;
    background: var(--sidebar-background);
    opacity: 1;
    
}
.sidebar-container{
    position: fixed;
    width: 6rem;
    height: 10rem;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    /* background: var(--color-body); */
    opacity: 1;
    color: var(--color-text);
    padding-bottom: 5rem;
}
.sidebar img{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 50%;
    
}
.name{
    font-size: 2.2rem;
    padding-top: 2rem;
}
.profession{
    font-size: 1.6rem;
    padding-top: 1rem;
}
.navbar{
    margin-top: 2rem;
    height: 30rem;
    margin-bottom: 4rem;
}
.navbar li{
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 2rem;

}
.navbar li a{
    color: var(--color-text);
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.navbar li a:hover{
    border-bottom: 2px solid var(--color-text);
    text-transform: uppercase;
}
.footer-para{
    padding: 2rem;
    margin-top: 3rem;
    padding-top: 5rem;
    font-size: 1.4rem;
}









/* ======================== main content styling ==================== */

.main-content{
    /* border: 3px solid black; */
    width: 75%;
    margin-left: 25%;
    padding-top: 9rem;
    color: var(--color-text);
}


/* ====================== home styling ========= */

.home{
    background: url('./img/home1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    transition: all 0.4s ease-in-out;
    border-radius: 20px;
    
}
.second-intro{
    background: linear-gradient(rgba(0,0,0, 0.45), rgba(0, 0, 0, 0.059));
    border-radius: 20px;
    display: none;
    padding: 1rem 1rem 1rem 5rem;
    z-index: 5;
    width: 80%;
    box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.232);
    transform: translate(0, 150%);
    animation: intro 1s ease-out forwards;
    transition: all 0.7s ease-in-out;
    

}
@keyframes intro {
    0%{
        display: block;
        transform: translate(0, 0%)
    }
    100%{
        transform: translate(0, 170%);
    }
}
.first-intro{
    background: linear-gradient(rgba(0,0,0, 0.45), rgba(0,0,0, 0.45));
    box-shadow: 5px 5px 5px 7px rgba(0, 0, 0, 0.232);
    border-radius: 20px;
    width: 45%;
    padding: 1rem 1rem 1rem 5rem;
    /* background-color: white; */
    /* border: 2px solid white; */
    z-index: 5;
    transform: translate(0, 150%);
    animation: intro 1s ease-out forwards;
    transition: all 0.5s ease-in-out;
    
}
@keyframes intro {
    0%{
        display: block;
        transform: translate(0, 0%)
    }
    100%{
        transform: translate(0, 160%);
    }
}
.first-para{
    font-size: 3.2rem;
    padding-bottom: 2rem;
    color: white;
    
}
.second-para{
    font-size: 1.8rem;
    color: white;
    padding-bottom: 2rem;
}
.second-intro .first-para{
    font-size: 3.2rem;
    padding-bottom: 2rem;
    color: white;
    
}
.second-intro .second-para{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    padding-bottom: 2rem;
}
.intro-btn{
    width: 35%;
    outline: none;
    height: 4rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;
    background: red;
    color: var(--color-text);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.intro-btn:hover{
    background: black;
    color: var(--color-text);
}
/* .intro-btn:hover a{
    color: black;
}*/

.intro-btn:hover a{
    color: white;
}








/* ==================== about section styling ================ */
.about-content{
    padding-left: 5rem;
    margin: 15rem 0;
    padding-top: 5rem;
    /* color: var(--color-text-about-me); */
    /* animation: about 0.5s ease-in-out forwards;
    
    transform: translate(-100%, 0); */
}
/* @keyframes about {
    100%{
        display: block;
        transform: translate(0, 0);
    }
} */

.title{
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom: 3rem;
}
.about-content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6rem;
    padding-bottom: 8rem;
}

.about-text .para1,
.about-text .para2{
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-weight: 300;
    
}
.cards{
    padding-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
}
.card{
    width: 20%;
    text-align: center;
    height: 150px;
    background-color: var(--background-box);
    box-shadow: 5px 5px 10px 1px var(--shadow);
    border: 2px dotted var(--color-body);
    border-radius: 10px;
    padding-bottom: 3rem;
    transition: all 0.2s ease-in-out;
}
.card:hover{
    /* zoom: 1.2; */
    height: 50%;
    width: 50%;
    /* font-size: 1rem; */
}
.card-para1{
    padding-top: 0.8rem;
    zoom: 1.8;
    color: var(--color-text);
    
}
.card-para1 img{
    height: 3rem;
    width: 3rem;
    background: white;
    border-radius: 10px;
}
.card .tag{
    
    margin-top: 5%;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--color-text);
}








/* ========================= skills section styling =================== */

.skills-content{
    padding-left: 5rem;
    margin: 15rem 0;
    padding-top: 5rem;
}
.skills-content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6rem;
    padding-bottom: 8rem;
}
.skills-content .para1{
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-weight: 300;
}
.skills ul{
    list-style: circle;
    padding-left: 4rem;
}
.skills ul li{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}






/* ============================== education section styling ================ */


.education-content{
    padding-left: 5rem;
    margin: 15rem 0;
    padding-top: 5rem;
}

.education-content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6rem;
    padding-bottom: 8rem;
}

.education-title-btn{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    background: rgb(231, 229, 227);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0.5rem;
    border-radius: 25px;
}
/* .education-title-btn:hover{
    background: rgb(156, 93, 215);
    color: white;
} */
.education-title-btn p:first-of-type{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 2rem 2rem;
    
}
.education-title-btn .sign{
    font-size: 3rem;
    padding: 1rem 2rem;
}

.edu-info{
    border: 1px solid var(--color-text);
    margin: 0.5rem 1rem;
    display: none;
    /* transition: all 0.4s ease-in-out; */
    
}

.edu-info .first-info{
    font-size: 1.5rem;
    padding: 3rem 2.5rem 3rem 2rem;
}
.edu-info .marks-info{
    font-size: 1.8rem;
    padding: 0 0 3rem 3rem;
}
.marks-info span{
    padding-right: 2rem;
    font-size: 3rem;
}
.effectAfterOpened{
    background: rgb(156, 93, 215);
    color: white;
}








/* ======================= experience section styling ========================== */

.experience-content{
    padding-left: 5rem;
    margin: 15rem 0;
    padding-top: 5rem;
}

.experience-content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6rem;
    padding-bottom: 8rem;
}
.experience{
    margin-left: 5rem;
    height: 25rem;
    /* width: 80%; */
    border: 2px solid var(--color-body);
    background: var(--background-box);
    box-shadow: 10px 10px 15px var(--shadow);
    padding: 3rem;
    color: var(--color-text);
    border-radius: 20px;
    /* transition: all 0.3s ease-in-out; */
}
/* .experience:hover{
    height: 27rem;
    width: 102%;
} */
.experience .experience-para{
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
}
.experience .experience-para span{
    margin-left: 2rem;
    font-size: 1.8rem;
}
.experience-info{
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 2rem;
    line-height: 2.5rem;
}
.experience-joiner{
    height: 5rem;
    margin-top: 1rem;
    margin-left: 51%;
    
}

.experience-ender{
    font-size: 5rem;
    font-weight: 600;
    height: 5rem;
    width: 100%;
    text-align: center;
    margin-left: 1rem;
    zoom: 2;
}

.coming-more{
    margin-left: 2rem;
    text-align: center;
    
}

.coming-more .coming{
    border: 1px solid var(--color-text);
    width: 30%;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -10%);
    padding: 2rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(167, 227, 227);
    font-size: 2rem;
    
}

.circle{
    margin: 0 auto 1rem auto;
    width: 20px;
    height: 20px;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.400);
    transform: translate(50%, 0);
    /* border-top: none; */
    /* background: rgba(0, 0, 0, 0.400); */
    
}









/* ======================== project section styling ==================== */

.projects-content{
    padding-left: 5rem;
    margin: 15rem 0;
    padding-top: 5rem;
}
.projects-content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6rem;
    padding-bottom: 8rem;
    
}
.project-boxes{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.box{
    border: 1px solid var(--color-text);
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url('./img/home1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    /* background-color: black; */
    text-align: center;
    height: 100%;
    position: relative;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px var(--shadow);
    margin-bottom: 2rem;
}
.box1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('./img/travel.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.box2{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('./img/food.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    
}
/* .left-box-text{
    left: -100%;
}
.right-box-text{
    right: -100%;
}
.left-box:hover .left-box-text{
    left: 0%;
    z-index: 5;
    opacity: 1;
}
.right-box:hover .right-box-text{
    right: 0%;
    z-index: 5;
    opacity: 1;
} */
.box-text{
    top: -10%;
}
.box:hover .box-text{
    top: 0%;
    z-index: 5;
    opacity: 1;
}
.box .project-title{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    
}
.project-buttons button{
    width: 35%;
    height: 4rem;
    margin: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    background: red;
    color: black;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.project-buttons button:hover{
    background: white;
    color: black;
    border: 2px solid var(--color-text);
}
.box .know-more{
    width: 70%;
    text-align: center;
    height: 4rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    /* margin-left: 15%; */
    background: var(--color-text);
    color: var(--color-body);
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.box .know-more:hover{
    background: red;
    color: var(--color-text);
    border-radius: 10px;
}
.box::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.489);
    opacity: 0;
    z-index: 1;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.box:hover::after{
    background-color: rgba(0, 0, 0, 0.803);
    opacity: 1;
    z-index: 2;
    /* zoom: 1.2; */
}

.project-title-onimage{
    color: white;
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem;
    text-transform: uppercase;
}
.project-description{
    font-size: 2rem;
    line-height: 3rem;
    padding: 3rem 1rem 2rem 1rem;
    color: white;
}








/* ==================== contact section styling ================= */

.contact-content{
    padding-left: 5rem;
    margin: 15rem 0;
    padding-top: 5rem;
}
.contact-content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6rem;
    padding-bottom: 8rem;
}
.contact .first-ul{
    text-align: center;
}
.first-ul li{
    height: 10rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: 2px solid var(--color-text);
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}
.icon i{
    zoom: 2.5;
    padding-bottom: 1rem;
    transition: all 0.1s ease-in-out;
}
.first-ul a{
    transition: all 0.2s ease-in-out;
}
.first-ul li:hover,
.first-ul li:hover a{
    background: var(--color-text);
    color: var(--color-body);
}
.contact-links{
    color: var(--color-text);
}



/* ========================= feedback section styling ====================== */
.Feedback-content{
    padding-left: 5rem;
    margin: 15rem 0 2rem 0;
    padding-top: 5rem;

}
.Feedback-content h2{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6rem;
    padding-bottom: 4rem;
}

.feedback{
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
}
.feedback .feedback-desc{
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.feedback .feedback-form{
    width: 80%;
    margin: 0 auto;
    border: 2px solid var(--color-text);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.feedback input,
.feedback textarea{
    border-radius: 1rem;
    background: rgb(233, 233, 232);
}
.feedback #name,
.feedback #email{
    width: 50%;
    height: 3rem;
    padding: 0.4rem;
    margin-bottom: 1rem;
}
.feedback #response{
    font-size: 1.5rem;
    padding: 0.4rem;
    width: 60%;
    height: 10rem;
    margin-bottom: 1rem;
}
.feedback #submit{
    border: ;
    width: 25%;
    height: 3.8rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 10rem;
    transition: all 0.3s ease-in-out;
    
}
#submit:hover{
    background-color: red;
    color: var(--color-text);
    
}

.feedback label{
    font-size: 1.9rem;
}

/* ============ form response styling ======== */
.pop-up-after-successful-form,
.pop-up-after-unsuccessful-form{
    background-color: var(--color-text);
    text-align: center;
    font-size: 3rem;
    position: fixed;
    top: 30%;
    color: var(--color-body);
    width: 50vw;
    height: 50vh;
    padding: 2rem;
    border-radius: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.successful-close-btn,
.unsuccessful-close-btn{
    width: 20%;
    height: 3.5rem;
    border-radius: 1rem;
    background: var(--color-body);
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}








/* ======================= media queries starts ======================= */



/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.                ----> use hamburger menu
769px — 1024px: Small screens, laptops.       ----> use hamburger menu
1025px — 1200px: Desktops, large screens.     ----> use sidebar menu
1201px and more — Extra large screens, TV.    ----> use sidebar menu
 */



 /* >>>>>>>>>>> for screen greater than 1200px  */
 @media (min-width: 1200px) {
    html{
        font-size: 11px;
    }
    .sidebar{
        padding-top: 3rem;
    }
    input[type="checkbox"]{
        display: none;
    }
    .main-content{
        padding-top: 5rem;
    }


 }



/* >>>>>>>>>>>>>> for screen size 1025px to 1200px */

@media (min-width:1025px) and (max-width: 1200px)
{
    html{
        font-size: 10px;
    }
    .contact ul li{
        text-align: center;
    }
    .sidebar{
        padding-top: 3rem;
    }
    input[type="checkbox"]{
        display: none;
    }
    .main-content{
        padding-top: 5rem;
    }
    
}







/* >>>>>>>>>>>>>>> for screen size 769px to 1024px */
@media (min-width:769px) and (max-width: 1024px)
{
    html{
        font-size: 11px;
    }
    .sidebar img{
        margin-top: 6rem;
    }
    .main-content{
        margin-left: 0%;
        width: 100%;
    }
    
    
    
    
    /* **************hamburger menu for side bar ****************** */
    .sidebar{
        transform: translate(-120%);
        z-index: 3;
        transition: all 0.3s ease-in-out;
        padding-top: 1rem;
        width: 40%;
    }

    .toggle-theme{
        left: 80%;
    }
    
    .container input[type="checkbox"]{
        position: absolute;
        z-index: 999;
        /* top: 5px;
        left: 2px; */
        background: var(--color-text);
        zoom: 2.8;
        opacity: 0;
    }
    input[type="checkbox"]:checked ~ .sidebar{
        transform: translate(-5%, -5%);

    }   
    
    .sidebar-container .hamburger-lines{
        position: absolute;
        height: 35px;
        width: 35px;
        z-index: 5;
        /* top: 15px;
        left: 5px; */
        transition: all 0.3s ease-in-out;
        /* border-left: 4px solid black; */
        
    }
    
    input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: 50%;
        
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: translate(0, 6px) rotate(-45deg);
        width: 60% 
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: translate(0, -6px) rotate(45deg);
        width: 60%;
    }
    .hamburger-lines .line{
        height: 5px;
        width: 100%;
        background: var(--color-text);
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    .sidebar-container{
        height: 7rem;
        width: 5rem;
        
    }
    .home{
        margin-left: 2rem;
    }

    


}


@media (min-width: 510px) and (max-width: 768px) {
    html{
        font-size: 8px;
    }
    .sidebar img{
        margin-top: 6rem;
    }
    .main-content{
        margin-left: 0%;
        width: 90%;
    }
    .cards{
        display: block;
        width: 100%;
        text-align: center;
        
    }
    .card{
        width: 50%;
        margin-left: 25%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .experience-content .outer-div{
        margin-left: -15%;
    }
    .experience{
        height: 30rem;

    }
    
    .circle{
        transform: translate(35%, 0);
    }

    .projects-content{
        display: block;
    }
    .project-boxes{
        display: block;
        text-align: center;
    }
    .project-row{
        display: block;
        text-align: center;
    }
    .box{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        border-radius: 10px;
        height: 100%;
    }


    

    /* **************hamburger menu for side bar ****************** */
    .sidebar{
        transform: translate(-130%);
        z-index: 3;
        transition: all 0.3s ease-in-out;
        padding-top: 3rem;
        width: 40%;
    }

    
    .container input[type="checkbox"]{
        position: absolute;
        z-index: 999;
        /* top: 1px; */
        /* left: 2px; */
        background: var(--color-text);
        zoom: 2.8;
        opacity: 0;
    }
    input[type="checkbox"]:checked ~ .sidebar{
        transform: translate(0);
    }    
    .sidebar-container .hamburger-lines{
        position: absolute;
        height: 35px;
        width: 35px;
        z-index: 5;
        /* top: 1px;
        left: 1px; */
        transition: all 0.3s ease-in-out;
        /* border-left: 4px solid black; */
        
    }
    
    input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: 50%;
        
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: translate(0, 6px) rotate(-45deg);
        width: 60% 
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: translate(0, -6px) rotate(45deg);
        width: 60%;
    }
    .hamburger-lines .line{
        height: 5px;
        width: 100%;
        background: var(--color-text);
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }

    .home{
        margin-left: 4rem;
    }


}



/* >>>>>>>>>>>>> for screen size 320px to 509px */

@media (min-width: 320px) and (max-width: 509px) 
{
    html{
        font-size: 7px;
    }  
    .sidebar img{
        margin-top: 6rem;
    }  
    .main-content{
        margin-left: 0%;
        width: 90%;
    }
    
    .cards{
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
    .card{
        width: 40%;
        height: 20rem;
        margin-left: 25%;
        text-align: center;
        margin-bottom: 4rem;
        padding-top: 2rem;
    }
    .experience-content .outer-div{
        margin-left: -15%;
    }
    .circle{
        transform: translate(35%, 0);
    }

    .projects-content{
        display: block;
       
    }
    .project-boxes{
        display: block;
        text-align: center;
    }
    .project-row{
        display: block;
        text-align: center;
    }
    .box{
        width: 90%;
        text-align: center;
        margin-bottom: 5rem;
        border-radius: 10px;
        /* margin-left: 5%; */
        height: 40rem;
        /* border: 0.5px solid var(--color-text); */
        box-shadow: 5px 5px 5px 5px var(--shadow);
    }




    .education-title-btn p:first-of-type{
        font-size: 1.5rem;
    }
    .experience{
        height: 30rem;
    }
    
    .home{
        height: 60vh;
        margin-left: 6rem;
    }
    
    .main-content{
        width: 100%;
    }

    /* **************hamburger menu for side bar ****************** */
    .sidebar{
        transform: translate(-130%);
        z-index: 3;
        transition: all 0.3s ease-in-out;
        width: 40%;
        padding-top: 2rem;
    }

    
    .container input[type="checkbox"]{
        position: absolute;
        z-index: 999;
        /* top: 10px;
        left: 4px; */
        background: var(--color-text);
        zoom: 2.8;
        opacity: 0;
        margin-top: 0.8rem;
    }
    input[type="checkbox"]:checked ~ .sidebar{
        transform: translate(-5%, 0%);
    }    
    .sidebar-container .hamburger-lines{
        position: absolute;
        height: 35px;
        width: 35px;
        z-index: 5;
        /* top: 30px;
        left: 10px; */
        transition: all 0.3s ease-in-out;
        /* border-left: 4px solid black; */
        padding-top: 2rem;
        
    }
    
    input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: 50%;
        
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: translate(0, 6px) rotate(-45deg);
        width: 60% 
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: translate(0, -6px) rotate(45deg);
        width: 60%;
    }
    .hamburger-lines .line{
        height: 5px;
        width: 100%;
        background: var(--color-text);
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
    .sidebar-container{
        /* padding-top: 20px; */
        /* top: 30px;
        left: 10px; */
        width: 50px;
        height: 55px;
        padding-left: 2rem;
        
    }


}


/* >>>>>>>>>>> for max screen size 300px */

@media (max-width: 319px) {
    html{
        font-size: 5px;
    }
    .sidebar img{
        margin-top: 6rem;
    }
    .main-content{
        margin-left: 0%;
        width: 90%;
    }
    
    .cards{
        display: block;
        width: 100%;
        text-align: center;
    }
    .card{
        width: 50%;
        margin-left: 25%;
        text-align: center;
        margin-bottom: 2rem;
    }
    .experience-content .outer-div{
        margin-left: -15%;
    }
    .circle{
        transform: translate(35%, 0);
    }

    .projects-content{
        display: block;
        margin-left: -3rem;
    }
    .project-boxes{
        display: block;
        text-align: center;
    }
    .project-row{
        display: block;
        text-align: center;
    }
    .box{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        border-radius: 5px;
        height: 40rem;
    }




    .education-title-btn p:first-of-type{
        font-size: 1px;
    }
    .experience{
        height: 30rem;
    }
    
    .home{
        height: 60vh;
        margin-left: 5.5rem;
    }
    
    .main-content{
        width: 100%;
    }

    .about-content,
    .skills-content,
    .education-content,
    .experience-content,
    .projects-content,
    .contact-content{
        padding-left: 2rem;
    }


    /* **************hamburger menu for side bar ****************** */
    .sidebar{
        transform: translate(-130%);
        z-index: 3;
        transition: all 0.3s ease-in-out;
        padding-top: 5rem;
        width: 40%;
    }


    .container input[type="checkbox"]{
        position: absolute;
        z-index: 999;
        top: 10px;
        left: 4px;
        background: var(--color-text);
        zoom: 2.8;
        opacity: 0;
    }
    input[type="checkbox"]:checked ~ .sidebar{
        transform: translate(0);
        
    }    
    .sidebar-container .hamburger-lines{
        position: absolute;
        height: 35px;
        width: 35px;
        z-index: 5;
        top: 5px;
        /* left: 10px;  */
        transition: all 0.3s ease-in-out;
        /* border-left: 4px solid black; */
        
    }
    
    input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-right: 50%;
        
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: translate(0, 6px) rotate(-45deg);
        width: 60% 
    }
    input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: translate(0, -6px) rotate(45deg);
        width: 60%;
    }
    .hamburger-lines .line{
        height: 5px;
        width: 100%;
        background: var(--color-text);
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }

    .sidebar-container{
        height: 50px;
        width: 50px;
    }

    .theme{
        width: 50%;
        padding-right: 2rem;   
    }

}


/* >>>>>>  for landscape view  */

@media (orientation: landscape) and (max-height: 500px)
{
    html{
        font-size: 6px;
    }

}




